services/weather/src/main/resources/Weather.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ws.gismeteo.ru/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://ws.gismeteo.ru/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.gismeteo.ru/">
      <s:element name="GetHHObservation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="location" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHHObservationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetHHObservationResult" type="tns:HHObservationResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HHObservationResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="result" type="tns:ServiceResult" />
          <s:element minOccurs="1" maxOccurs="1" name="data" type="tns:HHObservation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ServiceResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="errorCode" type="tns:ErrorCode" />
          <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ErrorCode">
        <s:restriction base="s:string">
          <s:enumeration value="OK" />
          <s:enumeration value="BadSerial" />
          <s:enumeration value="WrongInputData" />
          <s:enumeration value="WrongLanguageProvided" />
          <s:enumeration value="DataNotFound" />
          <s:enumeration value="InternalError" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="HHObservation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="obsTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="tod" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="t" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="p" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="cl" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="humidity" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="dd" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ff" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ph" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetHHForecast">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="location" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHHForecastResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetHHForecastResult" type="tns:HHForecastResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HHForecastResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="result" type="tns:ServiceResult" />
          <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:ArrayOfHHForecast" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHHForecast">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HHForecast" type="tns:HHForecast" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HHForecast">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="time" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="tod" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="t" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="p" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="cl" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="prc" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="prct" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="dd" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ff" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="st" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="humidity" type="s:short" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLocalTimeOffset">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="location" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLocalTimeOffsetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLocalTimeOffsetResult" type="tns:GetLocalTimeOffsetResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetLocalTimeOffsetResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="offset" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="result" type="tns:ServiceResult" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetGeoMagneticForecast">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="location" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGeoMagneticForecastResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetGeoMagneticForecastResult" type="tns:GeoMagneticForecastResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GeoMagneticForecastResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="result" type="tns:ServiceResult" />
          <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:ArrayOfGeoMagneticForecast" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfGeoMagneticForecast">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GeoMagneticForecast" type="tns:GeoMagneticForecast" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GeoMagneticForecast">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="grade" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMoonInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMoonInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMoonInfoResult" type="tns:GetMoonInfoResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetMoonInfoResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="moonPhase" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="wax" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="result" type="tns:ServiceResult" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSunInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="townID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSunInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetSunInfoResult" type="tns:GetSunInfoResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetSunInfoResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="riseMinutesOffset" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="setMinutesOffset" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="durationMinutes" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="result" type="tns:ServiceResult" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMMForecast">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="location" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMMForecastResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMMForecastResult" type="tns:MMForecastResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MMForecastResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="result" type="tns:ServiceResult" />
          <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:ArrayOfMMForecast" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMMForecast">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MMForecast" type="tns:MMForecast" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MMForecast">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="time" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="tod" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="t" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="p" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="cl" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="prc" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="prct" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="dd" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ff" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="geomagnetic" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMMObservation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serial" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="location" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMMObservationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMMObservationResult" type="tns:MMObservationResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MMObservationResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="result" type="tns:ServiceResult" />
          <s:element minOccurs="1" maxOccurs="1" name="data" type="tns:MMObservation" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MMObservation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="obsTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="t" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="p" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="cl" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="dd" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ff" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="HHObservationResult" type="tns:HHObservationResult" />
      <s:element name="HHForecastResult" type="tns:HHForecastResult" />
      <s:element name="GetLocalTimeOffsetResult" type="tns:GetLocalTimeOffsetResult" />
      <s:element name="GeoMagneticForecastResult" type="tns:GeoMagneticForecastResult" />
      <s:element name="GetMoonInfoResult" type="tns:GetMoonInfoResult" />
      <s:element name="GetSunInfoResult" type="tns:GetSunInfoResult" />
      <s:element name="MMForecastResult" type="tns:MMForecastResult" />
      <s:element name="MMObservationResult" type="tns:MMObservationResult" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetHHObservationSoapIn">
    <wsdl:part name="parameters" element="tns:GetHHObservation" />
  </wsdl:message>
  <wsdl:message name="GetHHObservationSoapOut">
    <wsdl:part name="parameters" element="tns:GetHHObservationResponse" />
  </wsdl:message>
  <wsdl:message name="GetHHForecastSoapIn">
    <wsdl:part name="parameters" element="tns:GetHHForecast" />
  </wsdl:message>
  <wsdl:message name="GetHHForecastSoapOut">
    <wsdl:part name="parameters" element="tns:GetHHForecastResponse" />
  </wsdl:message>
  <wsdl:message name="GetLocalTimeOffsetSoapIn">
    <wsdl:part name="parameters" element="tns:GetLocalTimeOffset" />
  </wsdl:message>
  <wsdl:message name="GetLocalTimeOffsetSoapOut">
    <wsdl:part name="parameters" element="tns:GetLocalTimeOffsetResponse" />
  </wsdl:message>
  <wsdl:message name="GetGeoMagneticForecastSoapIn">
    <wsdl:part name="parameters" element="tns:GetGeoMagneticForecast" />
  </wsdl:message>
  <wsdl:message name="GetGeoMagneticForecastSoapOut">
    <wsdl:part name="parameters" element="tns:GetGeoMagneticForecastResponse" />
  </wsdl:message>
  <wsdl:message name="GetMoonInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetMoonInfo" />
  </wsdl:message>
  <wsdl:message name="GetMoonInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetMoonInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetSunInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetSunInfo" />
  </wsdl:message>
  <wsdl:message name="GetSunInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetSunInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetMMForecastSoapIn">
    <wsdl:part name="parameters" element="tns:GetMMForecast" />
  </wsdl:message>
  <wsdl:message name="GetMMForecastSoapOut">
    <wsdl:part name="parameters" element="tns:GetMMForecastResponse" />
  </wsdl:message>
  <wsdl:message name="GetMMObservationSoapIn">
    <wsdl:part name="parameters" element="tns:GetMMObservation" />
  </wsdl:message>
  <wsdl:message name="GetMMObservationSoapOut">
    <wsdl:part name="parameters" element="tns:GetMMObservationResponse" />
  </wsdl:message>
  <wsdl:message name="GetHHObservationHttpGetIn">
    <wsdl:part name="serial" type="s:string" />
    <wsdl:part name="location" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHHObservationHttpGetOut">
    <wsdl:part name="Body" element="tns:HHObservationResult" />
  </wsdl:message>
  <wsdl:message name="GetHHForecastHttpGetIn">
    <wsdl:part name="serial" type="s:string" />
    <wsdl:part name="location" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHHForecastHttpGetOut">
    <wsdl:part name="Body" element="tns:HHForecastResult" />
  </wsdl:message>
  <wsdl:message name="GetLocalTimeOffsetHttpGetIn">
    <wsdl:part name="serial" type="s:string" />
    <wsdl:part name="location" type="s:string" />
    <wsdl:part name="dt" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLocalTimeOffsetHttpGetOut">
    <wsdl:part name="Body" element="tns:GetLocalTimeOffsetResult" />
  </wsdl:message>
  <wsdl:message name="GetGeoMagneticForecastHttpGetIn">
    <wsdl:part name="serial" type="s:string" />
    <wsdl:part name="location" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetGeoMagneticForecastHttpGetOut">
    <wsdl:part name="Body" element="tns:GeoMagneticForecastResult" />
  </wsdl:message>
  <wsdl:message name="GetMoonInfoHttpGetIn">
    <wsdl:part name="serial" type="s:string" />
    <wsdl:part name="dt" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMoonInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:GetMoonInfoResult" />
  </wsdl:message>
  <wsdl:message name="GetSunInfoHttpGetIn">
    <wsdl:part name="serial" type="s:string" />
    <wsdl:part name="townID" type="s:string" />
    <wsdl:part name="date" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSunInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:GetSunInfoResult" />
  </wsdl:message>
  <wsdl:message name="GetMMForecastHttpGetIn">
    <wsdl:part name="serial" type="s:string" />
    <wsdl:part name="location" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMMForecastHttpGetOut">
    <wsdl:part name="Body" element="tns:MMForecastResult" />
  </wsdl:message>
  <wsdl:message name="GetMMObservationHttpGetIn">
    <wsdl:part name="serial" type="s:string" />
    <wsdl:part name="location" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMMObservationHttpGetOut">
    <wsdl:part name="Body" element="tns:MMObservationResult" />
  </wsdl:message>
  <wsdl:message name="GetHHObservationHttpPostIn">
    <wsdl:part name="serial" type="s:string" />
    <wsdl:part name="location" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHHObservationHttpPostOut">
    <wsdl:part name="Body" element="tns:HHObservationResult" />
  </wsdl:message>
  <wsdl:message name="GetHHForecastHttpPostIn">
    <wsdl:part name="serial" type="s:string" />
    <wsdl:part name="location" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHHForecastHttpPostOut">
    <wsdl:part name="Body" element="tns:HHForecastResult" />
  </wsdl:message>
  <wsdl:message name="GetLocalTimeOffsetHttpPostIn">
    <wsdl:part name="serial" type="s:string" />
    <wsdl:part name="location" type="s:string" />
    <wsdl:part name="dt" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLocalTimeOffsetHttpPostOut">
    <wsdl:part name="Body" element="tns:GetLocalTimeOffsetResult" />
  </wsdl:message>
  <wsdl:message name="GetGeoMagneticForecastHttpPostIn">
    <wsdl:part name="serial" type="s:string" />
    <wsdl:part name="location" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetGeoMagneticForecastHttpPostOut">
    <wsdl:part name="Body" element="tns:GeoMagneticForecastResult" />
  </wsdl:message>
  <wsdl:message name="GetMoonInfoHttpPostIn">
    <wsdl:part name="serial" type="s:string" />
    <wsdl:part name="dt" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMoonInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:GetMoonInfoResult" />
  </wsdl:message>
  <wsdl:message name="GetSunInfoHttpPostIn">
    <wsdl:part name="serial" type="s:string" />
    <wsdl:part name="townID" type="s:string" />
    <wsdl:part name="date" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSunInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:GetSunInfoResult" />
  </wsdl:message>
  <wsdl:message name="GetMMForecastHttpPostIn">
    <wsdl:part name="serial" type="s:string" />
    <wsdl:part name="location" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMMForecastHttpPostOut">
    <wsdl:part name="Body" element="tns:MMForecastResult" />
  </wsdl:message>
  <wsdl:message name="GetMMObservationHttpPostIn">
    <wsdl:part name="serial" type="s:string" />
    <wsdl:part name="location" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMMObservationHttpPostOut">
    <wsdl:part name="Body" element="tns:MMObservationResult" />
  </wsdl:message>
  <wsdl:portType name="WeatherSoap">
    <wsdl:operation name="GetHHObservation">
      <wsdl:input message="tns:GetHHObservationSoapIn" />
      <wsdl:output message="tns:GetHHObservationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHHForecast">
      <wsdl:input message="tns:GetHHForecastSoapIn" />
      <wsdl:output message="tns:GetHHForecastSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLocalTimeOffset">
      <wsdl:input message="tns:GetLocalTimeOffsetSoapIn" />
      <wsdl:output message="tns:GetLocalTimeOffsetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGeoMagneticForecast">
      <wsdl:input message="tns:GetGeoMagneticForecastSoapIn" />
      <wsdl:output message="tns:GetGeoMagneticForecastSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMoonInfo">
      <wsdl:input message="tns:GetMoonInfoSoapIn" />
      <wsdl:output message="tns:GetMoonInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSunInfo">
      <wsdl:input message="tns:GetSunInfoSoapIn" />
      <wsdl:output message="tns:GetSunInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMMForecast">
      <wsdl:input message="tns:GetMMForecastSoapIn" />
      <wsdl:output message="tns:GetMMForecastSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMMObservation">
      <wsdl:input message="tns:GetMMObservationSoapIn" />
      <wsdl:output message="tns:GetMMObservationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WeatherHttpGet">
    <wsdl:operation name="GetHHObservation">
      <wsdl:input message="tns:GetHHObservationHttpGetIn" />
      <wsdl:output message="tns:GetHHObservationHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHHForecast">
      <wsdl:input message="tns:GetHHForecastHttpGetIn" />
      <wsdl:output message="tns:GetHHForecastHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLocalTimeOffset">
      <wsdl:input message="tns:GetLocalTimeOffsetHttpGetIn" />
      <wsdl:output message="tns:GetLocalTimeOffsetHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGeoMagneticForecast">
      <wsdl:input message="tns:GetGeoMagneticForecastHttpGetIn" />
      <wsdl:output message="tns:GetGeoMagneticForecastHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMoonInfo">
      <wsdl:input message="tns:GetMoonInfoHttpGetIn" />
      <wsdl:output message="tns:GetMoonInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSunInfo">
      <wsdl:input message="tns:GetSunInfoHttpGetIn" />
      <wsdl:output message="tns:GetSunInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMMForecast">
      <wsdl:input message="tns:GetMMForecastHttpGetIn" />
      <wsdl:output message="tns:GetMMForecastHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMMObservation">
      <wsdl:input message="tns:GetMMObservationHttpGetIn" />
      <wsdl:output message="tns:GetMMObservationHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WeatherHttpPost">
    <wsdl:operation name="GetHHObservation">
      <wsdl:input message="tns:GetHHObservationHttpPostIn" />
      <wsdl:output message="tns:GetHHObservationHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHHForecast">
      <wsdl:input message="tns:GetHHForecastHttpPostIn" />
      <wsdl:output message="tns:GetHHForecastHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLocalTimeOffset">
      <wsdl:input message="tns:GetLocalTimeOffsetHttpPostIn" />
      <wsdl:output message="tns:GetLocalTimeOffsetHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGeoMagneticForecast">
      <wsdl:input message="tns:GetGeoMagneticForecastHttpPostIn" />
      <wsdl:output message="tns:GetGeoMagneticForecastHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMoonInfo">
      <wsdl:input message="tns:GetMoonInfoHttpPostIn" />
      <wsdl:output message="tns:GetMoonInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSunInfo">
      <wsdl:input message="tns:GetSunInfoHttpPostIn" />
      <wsdl:output message="tns:GetSunInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMMForecast">
      <wsdl:input message="tns:GetMMForecastHttpPostIn" />
      <wsdl:output message="tns:GetMMForecastHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMMObservation">
      <wsdl:input message="tns:GetMMObservationHttpPostIn" />
      <wsdl:output message="tns:GetMMObservationHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WeatherSoap" type="tns:WeatherSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHHObservation">
      <soap:operation soapAction="http://ws.gismeteo.ru/GetHHObservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHHForecast">
      <soap:operation soapAction="http://ws.gismeteo.ru/GetHHForecast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocalTimeOffset">
      <soap:operation soapAction="http://ws.gismeteo.ru/GetLocalTimeOffset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGeoMagneticForecast">
      <soap:operation soapAction="http://ws.gismeteo.ru/GetGeoMagneticForecast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoonInfo">
      <soap:operation soapAction="http://ws.gismeteo.ru/GetMoonInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSunInfo">
      <soap:operation soapAction="http://ws.gismeteo.ru/GetSunInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMMForecast">
      <soap:operation soapAction="http://ws.gismeteo.ru/GetMMForecast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMMObservation">
      <soap:operation soapAction="http://ws.gismeteo.ru/GetMMObservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WeatherSoap12" type="tns:WeatherSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHHObservation">
      <soap12:operation soapAction="http://ws.gismeteo.ru/GetHHObservation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHHForecast">
      <soap12:operation soapAction="http://ws.gismeteo.ru/GetHHForecast" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocalTimeOffset">
      <soap12:operation soapAction="http://ws.gismeteo.ru/GetLocalTimeOffset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGeoMagneticForecast">
      <soap12:operation soapAction="http://ws.gismeteo.ru/GetGeoMagneticForecast" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoonInfo">
      <soap12:operation soapAction="http://ws.gismeteo.ru/GetMoonInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSunInfo">
      <soap12:operation soapAction="http://ws.gismeteo.ru/GetSunInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMMForecast">
      <soap12:operation soapAction="http://ws.gismeteo.ru/GetMMForecast" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMMObservation">
      <soap12:operation soapAction="http://ws.gismeteo.ru/GetMMObservation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WeatherHttpGet" type="tns:WeatherHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetHHObservation">
      <http:operation location="/GetHHObservation" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHHForecast">
      <http:operation location="/GetHHForecast" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocalTimeOffset">
      <http:operation location="/GetLocalTimeOffset" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGeoMagneticForecast">
      <http:operation location="/GetGeoMagneticForecast" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoonInfo">
      <http:operation location="/GetMoonInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSunInfo">
      <http:operation location="/GetSunInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMMForecast">
      <http:operation location="/GetMMForecast" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMMObservation">
      <http:operation location="/GetMMObservation" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WeatherHttpPost" type="tns:WeatherHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetHHObservation">
      <http:operation location="/GetHHObservation" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHHForecast">
      <http:operation location="/GetHHForecast" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocalTimeOffset">
      <http:operation location="/GetLocalTimeOffset" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGeoMagneticForecast">
      <http:operation location="/GetGeoMagneticForecast" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoonInfo">
      <http:operation location="/GetMoonInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSunInfo">
      <http:operation location="/GetSunInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMMForecast">
      <http:operation location="/GetMMForecast" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMMObservation">
      <http:operation location="/GetMMObservation" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Weather">
    <wsdl:port name="WeatherSoap" binding="tns:WeatherSoap">
      <soap:address location="http://ws.gismeteo.ru/Weather/Weather.asmx" />
    </wsdl:port>
    <wsdl:port name="WeatherSoap12" binding="tns:WeatherSoap12">
      <soap12:address location="http://ws.gismeteo.ru/Weather/Weather.asmx" />
    </wsdl:port>
    <wsdl:port name="WeatherHttpGet" binding="tns:WeatherHttpGet">
      <http:address location="http://ws.gismeteo.ru/Weather/Weather.asmx" />
    </wsdl:port>
    <wsdl:port name="WeatherHttpPost" binding="tns:WeatherHttpPost">
      <http:address location="http://ws.gismeteo.ru/Weather/Weather.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>